body{
    
    font-family: 'Exo', sans-serif;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%; 
    }
.main
    {
      background-image:url("../img/img1.jpg");  
    }
.login_screen
{
    background: rgba(255,255,255,0.5);
}
    
.container
{
    height:100%;
}

.login_form
{
    width: 334px;
    height: 220px;
    position: absolute;
    top:50%;
    margin-top: -110px;
    left:50%;   
    margin-left: -167px;

}

.heading
{
    text-align:center;
}

.danger_cus
{
    width: 25%;
    margin-left: 37.5%;
    margin-top: 9%;
    text-align: center;
}

.caret_custom
{
    margin-left:100%;
    margin-top:-20%;
}

.dataTables_wrapper
{
    margin-top:2%;
}

.cust-table{
    font-size: 11px;
}

.cust-table th{
    font-weight:bold;
}
